body {
    font-family: 'Mulish', sans-serif;
    margin: 40px 70px;
}

* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.nav-title{
   gap: 20px;
}

.bd {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;

}

.travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 2.2rem;
    font-weight: 800;
}

h3{
    display: inline;

}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
   
}

nav li a {
    text-decoration: none;
}

#home-color {
    color: #FF5400;
    font-size: 1.1rem;
    font-weight: 700;
}

.a-color {
    color: #424247;
    font-size: 1.1rem;
    font-weight: 400;
}

.banner {
    background-image: url('../Images/Group13.png');
    height: 500px;
    margin: 60px 0px 80px 0px;
}
.title{
    margin-top: 150px;
}


.banner-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 800;
    padding: 100px 180px 200px 200px;
}

.text-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 7px 190px 60px 200px;
}

.input-container {
    margin-left: 180px;
    margin-right: 200px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;

}

.input-header {
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    margin: 5px;

}

.btn-find {
    width: 170px;
    height: 50px;

    border-radius: 8px;
    background: #FF5400;

}

/* popular tours styles  */
.popular-tours-container {
    display: flex;
    gap: 50px;
}

.tour-title {
    color: #131318;
    font-size: 4rem;
    font-weight: 800;
}

.common-text {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-family: Mulish;
    font-weight: 400;
    margin: 10px;
}

div ul li {
    margin: 20px 15px;
}

#btn {
    margin-top: 30px;
}

/* destination section styles  */
.destination-container {
    text-align: center;
    margin: 80px 200px 40px 180px;

}

.destination-img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    object-fit: cover;
}

.destanation-section {
    width: 92%;
}

.destination-img-container img {
    width: 100%;
    height: 100%;
}

.destination-img-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;

}

.destination-img-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;

}

.destination-img-3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

.destination-img-4 {
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}

.destination-img-5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}

.destination-img-6 {
    grid-column: 1/span 5;
    grid-row: 3span 1;
}

.destination-img-7 {
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}

.possition {
    position: relative;
    bottom: 250px;
    left: 150px;
    color: #FFF;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

.kashmir {
    position: relative;
    bottom: 250px;
    left: 80px;
    color: #FFF;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

/* create section styles  */
.create-container {
    display: flex;
    gap: 50px;
}

.create {
    margin: 70px 0px 0px 0px;
}

.create-title {
    color: salmon;

    font-family: Mulish;
    font-size: 2.6rem;
    font-weight: 800;
    padding: 0px 350px;
}

caption {
    color: sandybrown;
    text-align: center;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;

}

table {
    border-collapse: collapse;
    background-color: antiquewhite;
}

th,
td {
    border: 4px solid slateblue;
    width: 100px;
    height: 30px;
    color: blue;
    padding: 10px 50px;
    font-size: 1.2rem;
}

.form-container {
    margin-top: 200px;
    border: 5px solid tomato;
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: azure;
    box-shadow: 10px 10px 20px wheat;
}

.form-container input {
    width: 200px;
    height: 40px;
    margin: 10px;
    margin-left: 30px;
    padding-left: 50px;
    background-color: beige;

}

.destination-select {
    font-size: 1rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

.destination-select select {
    width: 200px;
    height: 40px;
    background-color: beige;
}

/* chose section styles  */
.why-container {
    text-align: center;
    margin: 50px 150px;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 40px
}

.card-1 {
    width: 50%;
    background-color: antiquewhite;
    padding: 20px;
}

.card-2 {
    width: 50%;
    background-color: bisque;
    padding: 20px;
}

.card-3 {
    background-color: cornsilk;
    margin: 30px 270px;
    padding: 20px;
}

.card-1 h3 {
    margin: 20px 5px;
}

.card-2 h3 {
    margin: 20px 5px;
}

.card-2 img {
    margin-bottom: 30px;
}

.card-1 img {
    margin-bottom: 30px;
}

.card-3 img {
    margin-bottom: 50px;
}

/* newsletter styles */
.newsletter-container {
    display: flex;
    gap: 30px;
    margin: 80px 0px 10px 0px;
}

.newsletter-text {
    border: 1px solid red;
    border-radius: 20px;
    padding: 20px;
    padding-top: 70px;
    margin-bottom: 80px;
}

.newsletter-container input {
    width: 300px;
    height: 40px;
    margin: 15px 5px;
    padding-left: 25px;
    border-radius: 7px;
    background: rgba(19, 19, 24, 0.05);
}

.subscribe {
    border-radius: 4px;
    background: #FF5400;
    width: 330px;
    height: 40px;
    margin-top: 20px;
}

.com {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.dis-60 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

.bgc {
    border-radius: 10px;
    background: #FF5400;
    position: relative;
    left: 400px;
    bottom: 140px;
    transform: rotate(-30deg);
}

.footer-title {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.span-9 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 20px;

}

.footer-descrition {
    margin: 20px 150px;
}

.footer-container {
    background: rgba(19, 19, 24, 0.05);
    border: 1px solid rgba(19, 19, 24, 0.05);;
}

.icon-container {
    text-align: center;
    margin: 40px 0px;
}

.icon-container img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.finish {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 70px 0px;
}





/* media quary or device control  */

@media screen and (max-width:576px) {
    body {
        margin: 10px;
    }

    nav ul {
        gap: 2px;
    }

    nav,
    .popular-tours-container,
    .create-container,
    .card-container,
    .newsletter-container{
        flex-direction: column;
    }

    .banner-title {
        padding: 10px 20px;
        font-size: 2.5rem;
    }

    .text-description {
        padding: 10px 20px;
    }

    .input-container {
        text-align: center;
    }

    .tours-img img {
        width: 100%;
    }

    .destination-container,
    .create-title {
        margin: 10px;
        padding: 5px;
    }

    .destanation-section {
        width: 70%;
    }

    .destination-img-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }
    .newsletter-container{
        margin: 10px;
    }


    .destination-img-1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .destination-img-2 {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }

    .destination-img-3 {
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }

    .destination-img-4 {
        grid-column: 1/span 1;
        grid-row: 4/span 1;
    }

    .destination-img-5 {
        grid-column: 1/span 1;
        grid-row: 5/span 1;
    }

    .destination-img-6 {
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }

    .destination-img-7 {
        grid-column: 1/span 1;
        grid-row: 7/span 1;
    }

    .possition {
        position: relative;
        bottom: 200px;
        left: 100px;
        color: #FFF;
        font-family: Mulish;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .kashmir {
        position: relative;
        bottom: 200px;
        left: 60px;
        color: #FFF;
        font-family: Mulish;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .form-container input {
        width: 180px;
    }

    td,
    th {
        border: 2px solid slateblue;
        width: 100px;
        height: 25px;
        color: blue;
        padding: 5px 10px;
        font-size: 1rem;
    }

    .form-container {
        margin-top: 25px;
        border: 5px solid tomato;
        padding: 10px;
        margin-bottom: 1px;
        border-radius: 20px;
        background-color: azure;
        box-shadow: 10px 10px 20px wheat;
    }
    .newsletter-img img{
        width: 100%;
    }
    .bgc{
        position: relative;
        left: 150px;
        bottom: 125px;
        transform: rotate(-20deg);
    }
    

    /* why  */
    .why-container,
    .card-3 {
        margin: 10px;
        margin-top: 20px;
    }

    .card-1,
    .card-2 {
        width: 90%;
    }
    .footer-descrition{
        margin: 20px 10px;
    }


}